@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;600&display=swap');

body {
  font-family: 'Commissioner', sans-serif;
}

.heading {
  font-size: 64px;
  font-weight: 300;
}

.subheading {
  font-size: 24px;
  font-weight: 300;
  color: grey;
}